<a href="https://colab.research.google.com/github/wzcheon7/OliveAllive/blob/main/Part1_Ch_02_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print 기능

In [ ]:
a = [ ]
b = [1,2,3]
c = ['Coding', 'is', 'not', 'difficult']
d = [1, 2, 'Math', 'Coding']
e = [1, 2, ['Math', 'Coding']]

In [ ]:
b

[1, 2, 3]

In [ ]:
a
b
c
d
e

[1, 2, ['Math', 'Coding']]

개발 도구 (예를 들면, Jupiter notebook)를 이용해서 위에와 같이 여러 줄을 입력하면 마지막에 실행될 때만 결과 값을 보여 줍니다.

정확하게 원하는 값을 출력을 하려면, print(출력할 변수) 를 써야 합니다.

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Coding', 'is', 'not', 'difficult']
[1, 2, 'Math', 'Coding']
[1, 2, ['Math', 'Coding']]

또한, 프린트 안에 원하는 문장을 출력할 수도 있습니다. 이때 따옴표 '문장'형태로 사용하면 됩니다.

In [ ]:
print('Coding is easy')

Coding is easy

이 print 명령어를 이용하여 숫자, 변수를 포함하는 문장을 보여줄 수 있습니다.

In [1]:
a = 3
print('a는 {} 이다. '.format(a))

a는 3 이다.

In [2]:
a = 1
print('a는 {} 이다. '.format(a))

a는 1 이다.

자기 소개를 할 때도 쓰일 수 있습니다.

In [3]:
number = 180
print ('나의 키는 {} cm이다.'.format(number))

나의 키는 180 cm이다.

# 퀴즈1 자기 소개하기
나는 '몇'학년 '몇'반의 '누구'입니다. 를 표현해볼까요?
* 힌트
- 몇 학년 의 변수: grade
- 몇 반의 변수: classes
- 누구의 변수: who

In [4]:
grade = 3
classes = 1
who = '천원주'
print('나는 {}학년 {}반의 {}입니다.'.format(grade, classes, who))

나는 3학년 1반의 천원주입니다.

In [5]:
a = 3
b = '더하기'
c = 4
d = '은'
e = 7
f = '이다'
print('{} {} {} {} {} {}'.format(a,b,c,d,e,f))

3 더하기 4 은 7 이다